<h3>Update Schedule</h3>
<div  style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
   
    <div class="form-group">
      <label for="id">Schedule-Id</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="scheduleentity.id" name="id" disabled>
    </div>

    <div class="form-group">
      <label for="name">Schedule Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="scheduleentity.name" name="name">
    </div>

    <div class="form-group">
      <label for="location">Location </label>
      <input type="text" class="form-control" id="location" required [(ngModel)]="scheduleentity.location" name="location">
    </div>

    <div class="form-group">
        <label for="start-date">Start Date</label>
        <input type="date" class="form-control" id="start-date" required [(ngModel)]="scheduleentity.startDate" name="start-date">
      </div>

      <div class="form-group">
        <label for="end-date">End Date</label>
        <input type="date" class="form-control" id="end-date" required [(ngModel)]="scheduleentity.endDate" name="end-date">
      </div>

      <div class="form-group">
        <label for="certificate">End Date</label>
        <input type="text" class="form-control" id="certificate" required [(ngModel)]="scheduleentity.certificate" name="certificate">
      </div>

    <button type="submit" class="btn btn-success" >Update</button>
  </form>
</div>

